body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(170, 255, 175);
    color: #333;
}

h1 {
    color: #007bff;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #adb5bd;
    cursor: not-allowed;
}

#wordContainer {
    margin-top: 20px;
    font-size: 24px;
}

#hintContainer {
    margin-top: 10px;
    font-size: 18px;
}

#guessesLeft {
    margin-top: 10px;
    font-size: 18px;
}

#lettersContainer {
    margin-top: 20px;
}

#hangmanView {
    margin-top: 20px;
    font-family: monospace;
    font-size: 18px;
    white-space: pre;
    color: black;
    font-weight: bolder;
}
